<h1 class="page-header">Featured Neighborhoods</h1>

<div class="card">
	<h2 class="text-2xl">HongDae</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, excepturi nisi architecto
		commodi dolores adipisci fuga labore delectus dolorum voluptatibus nihil quam totam quo
		nostrum, sunt aliquid obcaecati officia ab.
	</p>
</div>
