---
---

<div class="card">
	<slot />
</div>

<style>
	.card {
		padding: 2.5rem;
		margin-bottom: 1rem;
		background-color: #fff;
		width: 100%;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-width: 1px;
		border-color: #e5e7eb;
	}
</style>
