<div class="stat-cards justify-center flex flex-wrap gap-4">
	<div class="stat-card">
		<h5 class="text-4xl font-bold">14</h5>
		<p class="mt-4 text-lg font-medium text-gray-500">Reviews</p>
	</div>
	<div class="stat-card">
		<h5 class="text-4xl font-bold">80</h5>
		<p class="mt-4 text-lg font-medium text-gray-500">Likes</p>
	</div>
	<div class="stat-card">
		<h5 class="text-4xl font-bold">Itaewon</h5>
		<p class="mt-4 text-lg font-medium text-gray-500">Home</p>
	</div>
</div>
